body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

/*element selector- targeting element on line 10 */
header {
    grid-area: header;
    background-color: lightblue;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
}

.header-image {
    border-radius: 50%;
}

.bell-icon {
    display: flex;
    width: 75px;
    fill: white;
}

/*class selector */
.navigation {
    grid-area: navigation;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
}

.main {
    display: grid;
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {
    .traffic {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .daily, .numbers, .message {
        grid-column: 1 / span 1;
    }
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}